.form {
  margin: auto;
  width: 100%;
  border: 5px solid #ffff00;
  padding: 20px;
  background-color: aquamarine;
}

.form input {
  margin-bottom: 10px;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contactList {
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100vh;
}

.contacts {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 70%;
}

.contacts td,
.contacts th {
  border: 1px solid #ddd;
  padding: 8px;
}

.contacts tr:nth-child(even) {
  background-color: #f2f2f2;
}

.contacts tr:hover {
  background-color: #ddd;
}

.contacts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.contact-btn {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  justify-content: center;
  align-items: center;
}

.contact-btn #update {
  background-color: rgb(220, 220, 28);
  border: none;
  border-radius: 10px;
  padding: 4px;
  margin-right: 10px;
}

.contact-btn #delete {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 4px;
}
